<div class= "container">
  <header class= "jumbotron">
    <h1>Super Rentals</h1>
  </header>
  <h3>A place that makes you feel like home</h3>
  <p>operating in 195 countries and 400 homes to rent</p>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}<br>
    {{#link-to 'index'}}home{{/link-to}}
    <p>
      all rights reserved 2016 Jackson meyer
    </p>
  </footer>
</div>
